<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
        <link rel="stylesheet" type="text/css" href="css/theme.css" />
        <title>Trap Map</title>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
        <script src="scripts/renderMap.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script>
            var socket = io()
            socket.on('triggered', function(trap) {
                $('#trap-' + trap.trapId).find('.trap-status').removeClass('green').addClass('red')
                map.setCenter(new google.maps.LatLng(trap.location.latitude, trap.location.longitude))
                if (map.getZoom() < 16) {
                    map.setZoom(16)
                }
                alert("Your trap " + trap.name + " was triggered!")
            })
            socket.on('reset', function(trap) {
                $('#trap-' + trap.trapId).find('.trap-status').removeClass('red').addClass('green')
                alert("Your trap " + trap.name + " was reset!")
            })
        </script>
    </head>
    <body>
        <div class="container-fluid nav-heading">
            <div class="row">
                <div>
                    <p>T R A P I F Y</p>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 left">
                    <h3 class="heading">Your Traps:</h3>
                    <!-- Rendered with knockout.js after traps are fetched -->
                    <div id="traps-accordion" data-bind="template: {name: 'trap-template', foreach: traps}">
                    </div>
                </div>
                <div class="col-sm-6 map">
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
    </body>

    <script id="trap-template" type="text/html">
        <a href="#" class="trap-container" data-bind="click: select, attr: {id: containerId}">
            <div class="trap-name">
                <div class="arrow-right"></div>
                <p>
                    <span data-bind="text: name"></span>
                    <span class=" pull-right glyphicon glyphicon-option-vertical"></span>
                    <span class="pull-right large glyphicon glyphicon-record trap-status" data-bind="css: iconColor"></span>
                </p>

            </div>
            <div class="trap-description">
                <p>Last reset: 03/03/2015 22:15</p>
                <p><span data-bind="activations"></span>activations this month</p>
            </div>
        </a>
    </script>
</html>
