<!DOCTYPE html>
<html>
    <head>
        <style>
          #map-canvas {
            width: 500px;
            height: 400px;
          }
        </style>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script>
            function initialize() {
                var mapCanvas = document.getElementById('map-canvas');
                $.get("/traps").done(function(traps) {
                    var totalLongitude = 0,
                        totalLatitude = 0,
                        latMin = 180,
                        latMax = -180,
                        longMin = 90,
                        longMax = -90,
                        markers = [],
                        mapOptions = {
                            zoom: 16,
                            mapTypeId: google.maps.MapTypeId.HYBRID
                        },
                        map, minPoint, maxPoint;
                    traps.forEach(function (trap) {
                        // default to 0 if undefined
                        var long = trap.location.longitude;
                        var lat = trap.location.latitude;
                        longMin = Math.min(longMin, long);
                        latMin = Math.min(latMin, lat);
                        longMax = Math.max(longMax, long);
                        latMax = Math.max(latMax, lat);
                        totalLatitude += lat || 0;
                        totalLongitude += long || 0;
                        markers.push(new google.maps.Marker({
                          position: new google.maps.LatLng(lat, long),
                          title: 'Hello World!'
                        }));
                    });
                    mapOptions.center = new google.maps.LatLng(totalLatitude/traps.length, totalLongitude/traps.length);
                    map = new google.maps.Map(mapCanvas, mapOptions);
                    minPoint = new google.maps.LatLng(latMin, longMin);
                    maxPoint = new google.maps.LatLng(latMax, longMax);

                    map.fitBounds(new google.maps.LatLngBounds(minPoint, maxPoint));
                    var listener = google.maps.event.addListener(map, "idle", function() {
                        if (map.getZoom() > 18) map.setZoom(18);
                        google.maps.event.removeListener(listener);
                    });
                    markers.forEach(function (marker) {
                        marker.setMap(map);
                    })
                })
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>
    <body>
        <div id="map-canvas"></div>
    </body>
</html>