@charset "UTF-8";
/* CSS Document */

body {
	background-color:#1A4861;
	
}
/*Container theme */
.left {
	background-color:#366181;
	color:#fff;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:0px;
	padding-right:0px;
	z-index:100;
}

@media (min-width: 768px) {
	.left {
		min-height:600px;
	}
	
	.map {
		
	}
}

.map {
	padding: 0 0 50px 0;	
	z-index:1;
	background-color:#1A4861;
}

#map-canvas {
	width: 100%;
   	height: 600px;
	z-index:1;
}

.navbar-dark {
	background-color:#1A4861;
}

.navbar-dark a {
	color:#fff;	
}

.heading {
	font-size: 24px;
	font-weight: 400;
	margin-left: 30px;	
	margin-bottom: 30px;
}

.nav-heading {
	padding-top:10px;
	padding-left:30px;
	padding-right:30px;
	text-align:center;
	background-color:#1A4861;
	color:#fff;
	font-size:28px;
	height:60px;
	width:100%;
}

/* TRAPS */

.trap-container {
	display:block;
	margin-top:3px;
}

.trap-container a {
	margin: 0 0 0 0;
	font-size:20px;
	font-weight:200;
	color:#fff;
	height:100%;
}

a.trap-container {
	text-decoration:none;	
}

.active .trap-name {
	background-color:#5e96ba;
}

.trap-name {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:30px;
	padding-right:30px;
	background-color:#427799;
	color: #eee;
	font-size: 20px;
	position:relative;
	height:50px;
}

.trap-name:hover {
	background-color:#5e96ba;
}

.glyphicon {
	margin-top:5px;
	margin-left:8px;	
}
.glyphicon.large {
	margin-top:0px;
	font-size:30px;
}

.glyphicon.red {
	color:#ed7d7d;
}

.glyphicon.green {
	color:#8dc981;
}

.active .arrow-right {
	visibility: visible;
}
.active .trap-description {
	display: block;
}

.arrow-right {
	visibility: hidden;
	position:absolute;
	right:-25px;
	top:0;
	width: 0; 
	height: 0; 
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #5e96ba;
	z-index:100;
}

@media (max-width: 767px) {
	.arrow-right {
		display:none;	
	}
}
.trap-description {
	display: none;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:60px;
	margin-top:10px;
	margin-bottom:20px;
	color: #cce6f5;
}

.trap-description p {
	font-size:16px;	
	font-weight:200;
}